body{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}
.padre{
    width: 90%;
    margin: 20px auto;
}
header {

    background-color: #800020;
    padding: 1px;
    text-align: center;
    font-size: 27px;
    border-bottom: 6px solid #342323;
    font-weight: bold;
    border-radius: 10px;

}
nav{
    background-color: rgb(253, 240, 213);
    color: black;
    font-size: 25px;
    padding: 10px;
}
.tabladenavegacion td{
    padding: 10px;

}
.caja{
    display: block;
    width: 140px;
    min-width: 38px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgba(111, 92, 54, 0.494);
    text-align: center;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.contenido{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../img/fondo1.jpg);
    padding-top: 10px;
    padding-bottom: 30px;
}
.imgportada img{
    display: block;
    width: 30cm;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;    
}
.Informacion{
    margin-left: auto;
    margin-right: auto;
    width: 30cm;
}
.Informacion h1,h2{
    text-align: center;
    background-color: rgba(30, 29, 28, 0.874);
    padding: 20px;
    border: 3px solid rgb(26, 26, 26);
    border-radius: 20px;
    margin-bottom: 20px;
}
.text1{

    background-color: rgba(30, 28, 30, 0.874);
    padding: 20px;
    border: 3px solid rgb(26, 26, 26);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30cm;
}

footer{
    background-color: #800020a7;
    height: 95px;
    text-align: center;
    padding-top: 18px;
    color: rgba(255, 255, 255, 0.601);
}
.integrantestabla{
    border-collapse: collapse;
    text-align: center;
}
.integrantestabla img{
    width:95%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.integrantestabla td,th{
    padding: 20px;
}
.integrantestabla thead,tbody{
    
    border: 2px solid white;
}
.tablabio img{
    width:12cm;
    height: 500px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.tablabio td{
    padding: 25px;
}
.tarjeta{
        text-align: center;
        width: 30cm;
    background-color: rgb(189, 170, 167);
    border: 3px solid rgb(78, 8, 8);
    border-radius: 15px;
    padding: 15px;
    color: black;
}
.tarjeta img{
    padding-top: 8px;
    width:7cm;
    height: 250px;


}
.final{
        background-color: rgba(62, 8, 71, 0.874);
    padding: 20px;
    border: 3px solid rgb(26, 26, 26);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 15cm;
    text-align: center;
}
.imgperfil img{
    width:12cm;
    height: 455px;
    margin-bottom: 10px;        
    border-radius: 10px;
}